<section id="page" class="view">
    <h1 class="page-header">Website Development</h1>
    <div ng-include src="'view/left-sidebar.html'"></div>
    <div class="content-side">
        <h6 class="mrgt15">Languages</h6>
        <form action="/console" method="post" name="settings_form" id="edit-development-settings-form" novalidate="" >
            <div class="columns large-6">

            </div>
            <div class="columns large-6">

            </div>
            <input type="hidden" name="hotel_inf[manual_custom_css]" value="0">
            <input type="hidden" name="form_build_id" value="form-ORsbpSUgS35YmeAcw1vmRFahkHUhkXZouZI_SxVq0ww">
            <input type="hidden" name="form_token" value="ZFss94sgb5LMvHhbMVBe8EKcrpmYOqULbvIpqWWVZiw">
            <input type="hidden" name="form_id" value="development_settings_form">
        </form>
    </div>
</section>