<div id="website">
    <h1 class="page-header">Website Development</h1>
    <div ng-include src="'view/left-sidebar.html'"></div>
    <div class="content-side">
        <h6 class="mrgt15">Settings</h6>
        <form action="" method="post" name="settings_form" id="" novalidate>
            <div class="columns large-6">

            </div>
            <div class="columns large-6">

            </div>
            <input type="hidden" name="hotel_inf[manual_custom_css]" value="0">
            <input type="hidden" name="form_build_id" value="form-ORsbpSUgS35YmeAcw1vmRFahkHUhkXZouZI_SxVq0ww">
            <input type="hidden" name="form_token" value="ZFss94sgb5LMvHhbMVBe8EKcrpmYOqULbvIpqWWVZiw">
            <input type="hidden" name="form_id" value="development_settings_form">
        </form>

        <!--<a class="button small" href="#"-->
            <!--ng-loading-button="saving_settings"-->
            <!--completed-message="Saved!"-->
            <!--ng-click="save(settings, settings_form)">Save</a>-->
        <!-- <span><img src="/sites/all/themes/manage/img/ajax-loader.gif" /></span> -->
    </div>
</div>